.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  overflow: hidden;
  display: none;
}

.img__modal {
  width: 80%;
  margin: 50% auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid red;
  background: #bdb7ce;
}
